*{
    /* background-color: black; */
    padding: 0;
    margin: 0;
}

/* body {
    background-color: black;
} */

.cont {
    padding: 10px 200px;
    background-color: black;
}

.nav-tabs{
    border-bottom: 0px !important;
    padding: 5px;
    background-color: black;
}

.nav-link{
    padding-left: 5px;
    /* width: 300px; */
    text-align: center;
}

#myTab {
  display: grid;
  grid-template-areas: 'home news prev faq arti';
  width: 100%;
}

#home-tab {
  grid-area: home;
}

#news-tab {
  grid-area: news;
}

#prevention-tab {
  grid-area: prev;
}

#faq-tab {
  grid-area: faq;
}

#article-tab {
  grid-area: arti;
}

#info{
    background-color: black;
    padding: 20px 10px 40px 10px;
}

.card{
    height: 8%;
    padding: 10px;
    display: flex;
    margin: 0 45px;
    /* width: 15%; */
    text-align: center;
}

#global{
    margin: 10px 42%;
    padding-bottom: 20px;
    text-align: center;
    color: #3a68cc;
}

#indian{
    margin: 10px 42.5%;
    padding: 45px 20px 20px 20px;
    text-align: center;
    color: #3a68cc;

}

#indian-list {
  width: 90%;
  margin: auto;
}

#country-list {
  width: 90%;
  margin: auto;
}

#india {
  width: 80%;
  margin: auto;
}

#india h3 {
  margin-top: 40px;
}

#world {
  width: 80%;
  margin: auto;
}

#world h3 {
  margin-top: 40px;
}

#indiaMapDiv {
  width: 100%;
  height: 800px;
  margin: 40px 10px;
}

#worldMapDiv {
  width: 100%;
  height: 800px;
  margin: 20px 10px;
}

.confirmed{
    color: #c33acc;
}

.infected{
    color: #cc923a;
}

.recovered{
    color:#3acc3c;
}

.deaths{
    color: red;
}

.table{
    text-align: center;
    background-color: black;
}

th{
    color: white;
}

td{
    color: white;
}

h2,h3{
    color: #3a68cc;
}

.ammapDescriptionWindow {
  background-color: #ccc;
  opacity: 0.8;
  padding: 10px;
  border-radius: 5px;
  /* overflow: auto; */
  width: 200px !important;
  max-height: 300px !important;
  right: 200px !important;
  top: 500px !important;
}

.ammapDescriptionTitle {

}

.ammapDescriptionWindow h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.ammapDescriptionWindow h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.ammapDescriptionText h2,h1 {
  color: black;
}

@media (max-width: 1024px) and (min-width: 768px) {

  .cont {
      padding: 10px 80px;
      background-color: black;
  }

  .card{
      margin: 0 20px;
  }

  .ammapDescriptionWindow {
    width: 180px !important;
    max-height: 350px !important;
    left: 400px !important;
    top: 300px !important;
  }

  .ammapDescriptionWindow h1 {
    font-size: 2em;
    margin-bottom: 5px;
  }

  .ammapDescriptionWindow h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  #indian-list {
    width: 85%;
    margin: auto;
  }

  #country-list {
    width: 85%;
    margin: auto;
  }

  #indian-list table {
    width: 96%;
    margin: auto;
  }

  #country-list table {
    width: 96%;
    margin: auto;
  }

  #india {
    width: 85%;
    margin: auto;
  }

  #world {
    width: 85%;
    margin: auto;
  }

  #indiaMapDiv {
    width: 100%;
    height: 500px;
    margin: 40px 10px;
  }

  #worldMapDiv {
    width: 100%;
    height: 500px;
    margin: 40px 10px;
  }
}



@media (max-width: 768px) and (min-width: 600px) {

  .cont {
      padding: 10px 40px;
      background-color: black;
  }

  #myTab {
    display: grid;
    grid-template-areas: 'home news prev'
                        'faq arti';
    width: 100%;
  }

  .ammapDescriptionWindow {
    width: 150px !important;
    max-height: 350px !important;
    left: 350px !important;
    top: 300px !important;
  }

  .ammapDescriptionWindow h1 {
    font-size: 2em;
    margin-bottom: 5px;
  }

  .ammapDescriptionWindow h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  #indian-list {
    width: 90%;
    font-size: 0.8rem;
    margin: auto;
  }

  #country-list {
    width: 90%;
    font-size: 0.8rem;
    margin: auto;
  }

  #indian-list table {
    width: 96%;
    margin: auto;
  }

  #country-list table {
    width: 96%;
    margin: auto;
  }

  #india {
    width: 90%;
    font-size: 0.7rem;
    margin: auto;
  }

  #world {
    width: 90%;
    margin: auto;
  }

  #indiaMapDiv {
    width: 100%;
    height: 500px;
    margin: 40px 10px;
  }

  #worldMapDiv {
    width: 100%;
    height: 500px;
    margin: 40px 10px;
  }
}

@media (max-width: 600px) and (min-width: 450px) {

  .cont {
      padding: 10px 20px;
      background-color: black;
  }

  .ammapDescriptionWindow {
    width: 150px !important;
    max-height: 350px !important;
    left: 300px !important;
    top: 300px !important;
  }

  .ammapDescriptionWindow h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  .ammapDescriptionWindow h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
  }

  #indian-list {
    width: 95%;
    font-size: 0.7rem;
    margin: auto;
  }

  #country-list {
    width: 95%;
    font-size: 0.7rem;
    margin: auto;
  }

  #indian-list table {
    width: 96%;
    margin: auto;
  }

  #country-list table {
    width: 96%;
    margin: auto;
  }

  #india {
    width: 95%;
    margin: auto;
  }

  #world {
    width: 95%;
    margin: auto;
  }

  #indiaMapDiv {
    width: 100%;
    height: 500px;
    margin: 40px 10px;
  }

  #worldMapDiv {
    width: 100%;
    height: 500px;
    margin: 40px 10px;
  }
}

@media (max-width: 450px) {

  .cont {
      padding: 10px 20px;
      background-color: black;
  }

  .ammapDescriptionWindow {
    width: 130px !important;
    max-height: 350px !important;
    left: 190px !important;
    top: 310px !important;
  }

  .ammapDescriptionWindow h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }

  .ammapDescriptionWindow h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
  }

  #indian-list {
    width: 95%;
    font-size: 0.6rem;
    margin: auto;
  }

  #country-list {
    width: 95%;
    font-size: 0.6rem;
    margin: auto;
  }

  #indian-list table {
    width: 96%;
    margin: auto;
  }

  #country-list table {
    width: 96%;
    margin: auto;
  }

  #india {
    width: 95%;
    margin: auto;
  }

  #world {
    width: 95%;
    margin: auto;
  }

  #indiaMapDiv {
    width: 100%;
    height: 500px;
    margin: 40px 10px;
  }

  #worldMapDiv {
    width: 100%;
    height: 500px;
    margin: 40px 10px;
  }
}
